.projectNav{
    position: fixed;
    top: 50vh;
    color:#fff;
    z-index: 1000;
    padding-left: 15px;

    background-color: rgba(0, 0,0, .5);
}

.circle{
    stroke: #fff;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color: #fff;
    float: left;
    display: inline;
    margin-top: 10px;
}

.prjText{
    position: relative;
    display: inline-block;
    padding-left: 10px;
}
